body {
    background: #f1f6f8;
    font-family: sans-serif;
}

.demoMessage {
    position: fixed;
    top: 0px;
    left: 40%;
    background-color: darkslateblue;
    color: #fff;
    padding: 10px 5%;
    width: 30%;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.demoMessage span,
.demoMessage a {
    color: #fff;

}

.demoMessage a {
    cursor: pointer;
    color: yellow;
}

.demoMessage #hideBtn {
    padding: 2px 5px;
    position: absolute;
    top: 0;
    right: 0;
}

p {
    color: #524c56;
    font-size: 130%;
    line-height: 150%;
    text-align: justify;
}

.main-image {
    width: 100%;
    height: 600px;
    background-image: url(https://images.unsplash.com/photo-1521967906867-14ec9d64bee8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=63f399f203a46024cdee72cd6aa42163&auto=format&fit=crop&w=1350&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 7%;
}

.main-image h2,
.main-image h3 {
    text-align: center;
    font-size: 35px;
    color: white;

    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.main-image h3 {
    margin-top: 0;
}

h1 {
    text-align: center;
    font-size: 70px;
    font-family: 'Lobster', cursive;
    margin: 2%
}

form {
    text-align: center;
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
    clear: both;


}

h2 {

    text-align: center;
    font-size: 30px
}

.form {
    margin-top: 3%
}

.search-button {
    border: solid lightblue;
    background-color: white;

}

.search-button:hover {
    background-color: lightgrey;
}

input {
    border: solid lightblue;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;

}

.one-half {
    width: 46%;
    float: left;
    text-align: justify;
    padding: 1%;
    border: solid lightblue;
    margin: 1%;
    display: block;
    height: 400px;
    overflow-y: auto;
}

.one-half img {
    float: left;
    padding: 1%;
    margin-right: 1rem;
    width: 35%;
}




.result-section {
    width: 80%;
    display: block;
    margin: 1rem auto;
    max-width: 1000px;
}






/*iPhone portrait*/

@media only screen and (min-width: 320px) {
    .main-image {
        height: 200px
    }
    .main-image h2,
    .main-image h3 {
        font-size: 90%;
    }
    form {
        font-size: 80%;
    }

    .form-description {
        font-size: 90%
    }
    .one-half img {
        width: 50%
    }
    .one-half {
        width: 100%;
        display: block;
    }

    h1 {
        font-size: 250%;
        margin: 6%;
    }
    .form-description h2 {
        font-size: 80%;
    }
    input {
        font-size: 80%
    }
    .one-half p {
        font-size: 75%;
    }
}

/*iPhone landscape*/

@media only screen and (min-width: 480px) {
    h1 {
        font-size: 300%;
        margin: 5%
    }


    .one-half p {
        font-size: 100%;
    }
    .main-image {
        height: 300px;
    }
    .main-image h2,
    .main-image h3 {
        font-size: 115%
    }
    .form-description {
        font-size: 115%;
        margin-top: 15%
    }
    form {
        font-size: 105%;
        margin-top: 15%;
    }

}

/*ipad potrait*/

@media only screen and (min-width: 768px) {
    .one-half p {
        font-size: 110%;
    }

    h1 {
        font-size: 380%;
        margin: 4%;
    }
    .main-image {
        height: 400px;
    }
    .main-image h2,
    .main-image h3 {
        font-size: 125%
    }
    .form-description {
        font-size: 150%;
        margin-top: 10%
    }
    form {
        font-size: 150%;
        margin-top: 10%;
    }
    .one-half img {
        width: 25%;
    }
    .one-half {
        width: 48%;
        display: inline-block;
    }
}

/*ipad lanscape / small laptop*/

@media only screen and (min-width: 1024px) {


    h1 {
        font-size: 380%;
        margin: 3%;
    }
    .form-description {
        font-size: 200%;
        margin-top: 5%;
    }
    .one-half {
        width: 48%;
        display: inline-block;
    }
    .one-half p {
        font-size: 120%;
    }

    .main-image {
        height: 600px;
    }
    .main-image h2,
    .main-image h3 {
        font-size: 150%
    }

    form {
        font-size: 200%;
        margin-top: 5%;
    }
    .one-half img {
        width: 20%;
    }
    input {
        min-height:
    }
}
